/* <-- CSS GENERALES --> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}

html {
  scroll-behavior: smooth;
}

body {
  background: #d5d1c5;
  display: flex;
  flex-direction: column;
}

/* <!-- Termina CSS GENERALES --> */
/* <!-- Aquí empieza el nav --> */
.img-logo {
  width: 4em;
  margin: 5px;
}

.img-y-logo {
  display: flex;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  background: #d4c5ae;
}

.navigation {
  height: 70px;
  position: fixed;
  top: 0;
  z-index: 100000;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

.brand {
  float: left;
  line-height: 70px;
  font-size: 1.4em;
  padding-left: 20px;
}

.brand a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a {
  display: block;
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  line-height: 70px;
  font-size: 1.2em;
}

nav ul li a:hover {
  background: #808366;
  color: #ffffff;
  transition: 0.4s;
}

nav ul li a:not(:only-child):after {
  padding-left: 4px;
  content: " ▾";
}

nav ul li ul li {
  min-width: 60vw;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
  background-color: #b4a58f;
}

.nav-dropdown {
  position: absolute;
  z-index: 10000;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
  display: none;
}

/* Menu hamburguesa */
.nav-mobile {
  display: none;
  height: 60px;
  width: 60px;
  position: absolute;
  top: 0;
  right: 10px;
  background-color: #d4c5ae;
  z-index: 9050;
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 4px;
  width: 30px;
  background: #808366;
  position: absolute;
  display: block;
  content: "";
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before,
#nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  transform: rotate(45deg);
}

#nav-toggle.active span:after {
  transform: rotate(-45deg);
}

/* <!-- Aquí termina el nav --> */

/* <!-- Aquí empieza el formulario --> */

.container-form {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 50px;
  margin-top: 90px;
}


.formulario {
  display: flex;
  flex-direction: column;
}

.container-form h2 {
  margin-bottom: 15px;
  font-size: 35px
}

.container-form p {
  font-size: 17px;
  line-height: 1.6;
  margin-bottom: 30px;
}

.container-form a {
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: black;
  font-weight: 700;
}

.container-form a i {
  color: rgb(240, 51, 18);
  margin-right: 10px;
}

.container-form form .campo {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 1px solid #dbdbdb;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}



.container-form .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: rgb(240, 51, 18);
  color: white;
  border-radius: 3px;
  cursor: pointer;
  transition: all 300ms ease;
}

.container-form .btn-enviar:hover {
  background: #295c11;
}

/* <!-- Aquí termina el formulario --> */
/* <!-- Aquí empieza el footer --> */
.caja-principal {
  .caja {
    width: 260px;

    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .titulo {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;

      .bloque {
        width: 0%;
        height: inherit;
        background: #524e31;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        display: flex;
      }

      h1 {
        font-family: "Poppins";
        color: #242a20;
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width: 0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;
        }
      }
    }

    .sub-titulo {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px;

      .bloque {
        width: 0%;
        height: inherit;
        background: #808366;
        position: absolute;
        animation: secBloque 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        font-family: "Lato";
        color: #242a20;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBloque {
  0% {
    width: 0%;
    left: 0;
  }

  50% {
    width: 100%;
    left: 0;
  }

  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #dc0202;
    border: 0px solid #ddd;
    opacity: 0;
  }

  50% {
    width: 10px;
    height: 10px;
    background: #dc0202;
    opacity: 1;
    bottom: 45px;
  }

  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }

  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }

  100% {
    width: 7px;
    height: 7px;
    background: #dc0202;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 0.5;
  }
}

footer {
  width: 100%;
  height: 20vh;
  background: #d4c5ae;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/* <!-- Aquí termina el footer --> */

/* <!-- Aquí empieza los MEDIA QUERY --> */

@media screen and (max-width: 800px) {
  .img-logo {
    height: 4em;
    margin: 5px;
  }

  .img-y-logo {
    width: 100%;
  }

  /*---Animacion turismo en japón modo mobile---*/
  .img-y-logo .caja-principal {
    margin-top: 25px;

    .caja {
      width: 100%;
      height: 1em;

      .titulo {
        height: 30px;

        h1 {
          font-size: 1.2em;
        }
      }

      .sub-titulo {
        height: 1.5em;
        margin-top: 5px;

        p {
          font-size: 0.6em;
          letter-spacing: 2px;
          margin-top: 2px;
        }
      }
    }
  }

  /*---Animacion turismo en japón modo mobile---*/
  .nav-mobile {
    display: block;
  }

  nav {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 70px;
  }

  nav ul {
    display: none;
    margin-top: -5px;
  }

  nav ul li {
    float: right;
    width: 70vw;
  }

  nav ul li a {
    padding: 15px;
    line-height: 20px;
    background-color: #d4c5ae;
  }

  nav ul li ul li a {
    padding-left: 20px;
    background-color: #b4a58f;
  }

  .nav-dropdown {
    position: static;
    margin: 0px;
  }

  /*--- Corte del formulario ---*/
  .container-form {
    flex-direction: column;
  }
}

@media screen and (min-width: 800px) {
  .nav-list {
    display: block;
  }
}

/* <!-- Aquí termina los MEDIA QUERY --> */