/* <-- CSS GENERALES --> */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    width: 100%;
    background: #d5d1c5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  /* <!-- Termina CSS GENERALES --> */
  /* <!-- Aquí empieza el nav --> */
  .img-logo {
    width: 4em;
    margin: 5px;
  }
  .img-y-logo {
    display: flex;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    background: #d4c5ae;
    width: 100%;
  }
  .navigation {
    position: sticky;
    top: 0;
    z-index: 1000;
    width: 100%;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    float: left;
    margin-top: -2px
  }
  
  nav ul li a {
    display: block;
    color: #fff;
    padding: 0 20px;
    text-decoration: none;
    line-height: 78px;
    font-size: 1.2em;
  }
  
  nav ul li a:hover {
    background: #808366;
    color: #ffffff;
    transition: 0.4s;
  }
  
  nav ul li a:not(:only-child):after {
    padding-left: 2px;
    content: "▾";
  }
  
  nav ul li ul li {
    min-width: 200px;
  }
  
  nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
    background-color: #b4a58f;
  }
  .dropdown{
    display: none;
  }
  
  .nav-dropdown {
    position: absolute;
    z-index: 10000;
    display: none;
  }
  
  /* Menu hamburguesa */
  .nav-mobile {
    display: none;
    width: 40px;
    position: absolute;
    top: 0;
    right: 20px;
    background-color: #d4c5ae;
    z-index: 9050;
  }
  
  #nav-toggle {
    position: absolute;
    left: 18px;
    top: 22px;
    cursor: pointer;
    padding: 10px 35px 16px 0;
  }
  #nav-toggle span,
  #nav-toggle span:before,
  #nav-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 4px;
    width: 30px;
    background: #808366;
    position: absolute;
    display: block;
    content: "";
    transition: all 300ms ease-in-out;
  }
  #nav-toggle span:before {
    top: -10px;
  }
  #nav-toggle span:after {
    bottom: -10px;
  }
  #nav-toggle.active span {
    background-color: transparent;
  }
  #nav-toggle.active span:before,
  #nav-toggle.active span:after {
    top: 0;
  }
  #nav-toggle.active span:before {
    transform: rotate(45deg);
  }
  #nav-toggle.active span:after {
    transform: rotate(-45deg);
  }
  /* <!-- Aquí termina el nav --> */
  /*<!-- Aquí empieza contenido de configuraciones de cuenta --> */
  .all-content{
    display: flex;
  }
  .secciones-cuenta{
    margin:2em 1em 1em 1em;
    border-radius: 20px;
    border: solid 3px #D4C5AE;
    background-color: #fff;
    width: 20%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  .secciones-cuenta h2{
    margin-top: 10px;
    font-style: italic;
    letter-spacing: 3px;
    font-size: 1.7em;
    margin-bottom: 20px;
    font-family: "Bona Nova", serif;
    font-weight: 700;
    font-style: italic;
  }
  .secciones-cuenta ul{
    list-style: none;
  }
  .secciones-cuenta li{
    font-size: 1.3em;
    margin: 10px;
    background-color: #dfdcd6;
    border-radius: 10px;
    padding: 10px;
    color: #242a20;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

  .informacion{
    margin: 2em 2em 1em 0em;
    border-radius: 20px;
    border: solid 3px #D4C5AE;
    background-color: #fff;
    width: 75%;
    height: 900px;
    display: flex;
    flex-direction: column;
    align-items: center
  }
  /*<!-- Aquí termina contenido de configuraciones de cuenta --> */
  /* <!-- Aquí empieza el footer --> */
  .caja-principal .caja {
    width: 260px;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  .caja-principal .caja .titulo {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 50px;
  }
  .caja-principal .caja .titulo .bloque {
    width: 0%;
    height: inherit;
    background: #524e31;
    position: absolute;
    animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    display: flex;
  }
  .caja-principal .caja .titulo h1 {
    font-family: "Poppins";
    color: #242a20;
    font-size: 32px;
    -webkit-animation: mainFadeIn 2s forwards;
    -o-animation: mainFadeIn 2s forwards;
    animation: mainFadeIn 2s forwards;
    animation-delay: 1.6s;
    opacity: 0;
    display: flex;
    align-items: baseline;
    position: relative;
  }
  .caja-principal .caja .titulo h1 span {
    width: 0px;
    height: 0px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    margin-left: 5px;
    margin-top: -10px;
    position: absolute;
    bottom: 13px;
    right: -12px;
  }
  .caja-principal .caja .sub-titulo {
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: -10px;
  }
  .caja-principal .caja .sub-titulo .bloque {
    width: 0%;
    height: inherit;
    background: #808366;
    position: absolute;
    animation: secBloque 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
    animation-delay: 2s;
    display: flex;
  }
  .caja-principal .caja .sub-titulo p {
    animation: secFadeIn 2s forwards;
    animation-delay: 3.2s;
    opacity: 0;
    font-weight: 400;
    font-family: "Lato";
    color: #242a20;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  @keyframes mainBlock {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes secBloque {
    0% {
      width: 0%;
      left: 0;
    }
    50% {
      width: 100%;
      left: 0;
    }
    100% {
      width: 0;
      left: 100%;
    }
  }
  @keyframes mainFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes popIn {
    0% {
      width: 0px;
      height: 0px;
      background: #dc0202;
      border: 0px solid #ddd;
      opacity: 0;
    }
    50% {
      width: 10px;
      height: 10px;
      background: #dc0202;
      opacity: 1;
      bottom: 45px;
    }
    65% {
      width: 7px;
      height: 7px;
      bottom: 0px;
      width: 15px;
    }
    80% {
      width: 10px;
      height: 10px;
      bottom: 20px;
    }
    100% {
      width: 7px;
      height: 7px;
      background: #dc0202;
      border: 0px solid #222;
      bottom: 13px;
    }
  }
  @keyframes secFadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }
  footer {
    bottom: 0;
    width: 100%;
    height: 15vh;
    background: #d4c5ae;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  /* <!-- Aquí termina el footer --> */
  
  /* Media Query */
  
  @media only screen and (max-width: 285px){
  
    nav .caja-principal{
    display: none;
  }
  
  }
  @media only screen and (max-width: 480px) {
    .img-logo {
      height: 4em;
      margin: 5px;
    }
    .img-y-logo {
      width: 100%;
    }
    
    .nav-mobile {
      display: block;
    }
  
    nav {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 70px;
    }
  
    nav ul {
      display: none;
      margin-top: -5px;
    }
  
    nav ul li {
      float: right;
      width: 70vw;
      margin-top: -2px
    }
  
    nav ul li a {
      padding: 15px;
      width: 200px;
      float: right;
      line-height: 20px;
      background-color: #d4c5ae;
      
    }
  
    nav ul li ul li a {
      padding-left: 20px;
      background-color: #b4a58f;
    }
  
    .nav-dropdown {
      position: static;
      margin: 0px;
    }
  
    .btn-read{
      position: static;
    }
  
    p{
      font-size: 1em;
    }
  }
  
  @media only screen and (max-width: 600px){
    
  }
  
  @media screen and (min-width: 800px) {
    
    .nav-list {
      display: block;
    }
  }
  
  @media only screen and (max-width: 1024px){
  
  /*---Animacion turismo en japón modo mobile---*/
  .img-y-logo .caja-principal {
    margin-top: 25px;
  }
  
  .img-y-logo .caja-principal .caja {
    width: 100%;
    height: 1em;
  }
  
  .img-y-logo .caja-principal .caja .titulo {
    height: 30px;
  }
  
  .img-y-logo .caja-principal .caja .titulo h1 {
    font-size: 1.2em;
  }
  
  .img-y-logo .caja-principal .caja .sub-titulo {
    height: 1.5em;
    margin-top: 5px;
  }
  
  .img-y-logo .caja-principal .caja .sub-titulo p {
    font-size: 0.6em;
    letter-spacing: 2px;
    margin-top: 2px;
  }
  }
  
  @media only screen and (min-width: 600px) and (max-width: 1280px){
  
  }