/* <!-- CSS GENERALES --> */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins;
}
body {
  background: #d5d1c5;
}

/* <!-- Termina CSS GENERALES --> */
/* <!-- Aquí empieza el nav --> */
a {
  text-decoration: none;
}

li {
  list-style: none;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  background-color: #d4c5ae;
  color: #242a20;
  z-index: 10000;
}

.nav-links a {
  color: #242a20;
}

.logo {
  display: flex;
}

.logo h1 {
  margin-left: 5px;
  padding: 10px;
}

.logo img {
  width: 3em;
}

.menu {
  display: flex;
  gap: 1em;
  font-size: 1.3em;
}
.menu li:hover {
  background-color: #d5d1c5;
  border-radius: 5px;
  transition: 0.3s ease;
}
.menu li {
  padding: 5px 14px;
}

.secciones {
  position: relative;
  z-index: 10000;
}
.desplegable {
  background-color: #d4c5ae;
  padding: 1em 0;
  position: absolute;
  display: none;
  border-radius: 8px;
  top: 35px;
}
.desplegable li + li {
  margin-top: 10px;
}
.desplegable li {
  padding: 0.5em 1em;
  width: 8em;
  text-align: center;
}
.desplegable li:hover {
  background-color: #d5d1c5;
}
.secciones:hover .desplegable {
  display: block;
}

.flecha {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  border-color: #242a20;
  margin-left: 3px;
  margin-bottom: 2px;
}

.flecha-abajo {
  transform: rotate(135deg);
}

/* <!-- Sección responsiva del nav --> */
input[type="checkbox"] {
  display: none;
}
.hamburguesa {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media (max-width: 768px) {
  .menu {
    display: none;
    position: absolute;
    background-color: #d4c5ae;
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    z-index: 10000;
    margin-top: 12px;
  }
  .menu li:hover {
    display: inline-block;
    background-color: #d5d1c5;
    transition: 0.3s ease;
  }
  .menu li + li {
    margin-top: 12px;
    width: 100%;
  }
  input[type="checkbox"]:checked ~ .menu {
    display: block;
  }
  .hamburguesa {
    display: block;
  }
  .desplegable {
    left: 50%;
    top: 30px;
    transform: translateX(35%);
  }
  .desplegable li:hover {
    background-color: #d5d1c5;
  }
}

/* <!-- Aquí termina el nav --> */
/* <!-- Aquí empieza el slide --> */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: #d5d1c5;
}
.container input {
  appearance: none;
}
.container .puntos {
  position: absolute;
  bottom: 70px;
  z-index: 9000;
  display: flex;
  gap: 6px;
}
.container .puntos label {
  width: 20px;
  height: 20px;
  background: #fff;
  cursor: pointer;
  border-radius: 50%;
  opacity: 0.5;
  border: 2px solid #222;
}
.container input:nth-child(1):checked ~ .puntos label:nth-child(1),
.container input:nth-child(2):checked ~ .puntos label:nth-child(2),
.container input:nth-child(3):checked ~ .puntos label:nth-child(3),
.container input:nth-child(4):checked ~ .puntos label:nth-child(4),
.container input:nth-child(5):checked ~ .puntos label:nth-child(5) {
  opacity: 1;
}
.container .slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .slider .slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--img);
  background-size: cover;
  clip-path: circle(0% at 0% 50%);
  transition: 1.5s;
  transition-delay: 0s;
  background-position: left;
  display: flex;
  justify-content: start;
  align-items: flex-end;
}
.container .slider .slide:nth-child(even) {
  clip-path: circle(0% at 100% 50%);
  background-position: right;
}
.container input:nth-child(1):checked ~ .slider .slide:nth-child(1),
.container input:nth-child(2):checked ~ .slider .slide:nth-child(2),
.container input:nth-child(3):checked ~ .slider .slide:nth-child(3),
.container input:nth-child(4):checked ~ .slider .slide:nth-child(4),
.container input:nth-child(5):checked ~ .slider .slide:nth-child(5) {
  clip-path: circle(150% at 50% 50%);
  transition-delay: 1s;
  background-position: center;
}
.contenido {
  position: relative;
  padding: 5% 5% 5% 5%;
  max-width: 550px;
}

.contenido h2 {
  font-family: sans-serif;
  color: #242a20;
  font-size: 2em;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
}
.contenido p {
  font-family: sans-serif;
  color: #fff;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: #242a20;
}
/* <!-- Aquí termina el slide --> */
/* <!-- Aquí empieza el código del contenido --> */
#ResumenTematico {
  /*background-color: darkolivegreen;*/
  width: 90%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  padding-top: 10%;
  position: relative;
  display: flex;
  flex-direction: row;
  top: 10%;

}

#MenuLateral {
  /*background-color: yellow;*/
  height: fit-content;
  padding: 2% 2% 2% 2%;
  top: 14%;
  left: 1%;
  position: sticky;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#MenuLateral a div {
  background-color: brown;
  width: 150px;
  height: 50px;
  border-radius: 30px;
  /*box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color];*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.5);
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


}

#MenuLateral a div:hover {
  /*border-right: 4px solid white;*/
  /*box-shadow: 10px 0px 0px 0px lightblue;*/
  box-shadow: -4px -4px 10px 0px rgba(0, 0, 0, 0.5), 4px -4px 10px 0px rgba(0, 0, 0, 0.5);
}

#MenuLateral a div:active {
  /*border-right: 4px solid white;*/
  /*box-shadow: 10px 0px 0px 0px lightblue;*/
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.8);
}

#ContenidoResumido {
  /*background-color: yellowgreen;*/
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 16px;
  



}

#ContenidoResumido section {
  /*background-color: slategray;*/
  width: 80%;
  justify-items: center;
  float: right;
  align-content: center;
  
}
/* <!-- Aquí termina el código del contenido --> */
/* <!-- Aquí empieza el footer --> */
.caja-principal {
  .caja {
    width: 260px;
    height: 20%;
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;

    .titulo {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 50px;

      .bloque {
        width: 0%;
        height: inherit;
        background: #524e31;
        position: absolute;
        animation: mainBlock 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        display: flex;
      }

      h1 {
        font-family: "Poppins";
        color: #242a20;
        font-size: 32px;
        -webkit-animation: mainFadeIn 2s forwards;
        -o-animation: mainFadeIn 2s forwards;
        animation: mainFadeIn 2s forwards;
        animation-delay: 1.6s;
        opacity: 0;
        display: flex;
        align-items: baseline;
        position: relative;

        span {
          width: 0px;
          height: 0px;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          border-radius: 50%;
          -webkit-animation: load 0.6s cubic-bezier(0.74, 0.06, 0.4, 0.92)
            forwards;
          animation: popIn 0.8s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
          animation-delay: 2s;
          margin-left: 5px;
          margin-top: -10px;
          position: absolute;
          bottom: 13px;
          right: -12px;
        }
      }
    }

    .sub-titulo {
      width: 100%;
      position: relative;
      display: flex;
      align-items: center;
      height: 30px;
      margin-top: -10px;

      .bloque {
        width: 0%;
        height: inherit;
        background: #808366;
        position: absolute;
        animation: secBloque 2s cubic-bezier(0.74, 0.06, 0.4, 0.92) forwards;
        animation-delay: 2s;
        display: flex;
      }

      p {
        animation: secFadeIn 2s forwards;
        animation-delay: 3.2s;
        opacity: 0;
        font-weight: 400;
        font-family: "Lato";
        color: #242a20;
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: 5px;
      }
    }
  }
}

@keyframes mainBlock {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes secBloque {
  0% {
    width: 0%;
    left: 0;
  }
  50% {
    width: 100%;
    left: 0;
  }
  100% {
    width: 0;
    left: 100%;
  }
}

@keyframes mainFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes popIn {
  0% {
    width: 0px;
    height: 0px;
    background: #dc0202;
    border: 0px solid #ddd;
    opacity: 0;
  }
  50% {
    width: 10px;
    height: 10px;
    background: #dc0202;
    opacity: 1;
    bottom: 45px;
  }
  65% {
    width: 7px;
    height: 7px;
    bottom: 0px;
    width: 15px;
  }
  80% {
    width: 10px;
    height: 10px;
    bottom: 20px;
  }
  100% {
    width: 7px;
    height: 7px;
    background: #dc0202;
    border: 0px solid #222;
    bottom: 13px;
  }
}

@keyframes secFadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

footer {
  width: 100%;
  height: 20vh;
  background: #d4c5ae;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: auto;
}

/* <!-- Aquí termina el footer --> */
