<!DOCTYPE html>
<html lang="es">

<head>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'css/base.css' %}" />
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/bandera.ico' %}">
  {% block css %}{% endblock %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel=" hoja de estilo">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap"
    rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Playball&display=swap" rel="stylesheet">
  <link href=" https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.min.css " rel="stylesheet">

  <title>Turismo en Japón</title>
</head>

<body>
  <header>
    <!-- Aquí empieza el nav -->
    <div class="navigation">
      <div class="nav-container">
        <nav>
          <div class="img-y-logo">
            <img class="img-logo" src="{% static 'img/pez-koi-sol-naciente.webp' %}" alt="Logo" />
            <div class="caja-principal">
              <div class="caja">
                <div class="titulo">
                  <span class="bloque"></span>
                  <h1>Turismo en Japón <span></span></h1>
                </div>
                <div class="sub-titulo">
                  <div class="bloque"></div>
                  <p>Organiza tu viaje</p>
                </div>
              </div>
            </div>
          </div>
          <div class="nav-mobile">
            <a id="nav-toggle" href="#!"><span></span></a>
          </div>
          <div class="nav-rigth-ppal">
            <div class="nav-rigth">
              <ul class="nav-list">
                <li><a href="{% url 'index' %}">INICIO</a></li>
                <li class="dropdown">
                  <a href="#!">SECCIONES</a>
                  <ul class="nav-dropdown">
                    <li><a href="{% url 'arquitectura' %}">Arquitectura</a></li>
                    <li><a href="{% url 'gastronomia' %}">Gastronomía</a></li>
                    <li><a href="{% url 'mitosyleyendas' %}">Mitos y Leyendas</a></li>
                    <li><a href="{% url 'paisajesyjardines' %}">Paisajes y Jardines</a></li>
                    <li><a href="{% url 'puntosturisticos' %}">Puntos Turísticos</a></li>
                    <li><a href="{% url 'religion' %}">Religión</a></li>
                  </ul>
                </li>
                <li><a href="{% url 'contacto' %}">CONTACTO</a></li>

                {% if user.is_authenticated %}

                <li>
                  <form method="post" action="{% url 'logout' %}">
                    {% csrf_token %}
                    <a><button type="submit">LOGOUT</button></a>
                    
                  </form>
                </li>

                {% else %}

                <li><a id="login" href="{% url 'login' %}">LOGIN</a></li>
                <li><a id="registrar" href="{% url 'register' %}">REGISTRARCE</a></li>

                {% endif %}

              </ul>
              {% if user.is_authenticated %}
            </div>
            <a href="{% url 'cuentaconfig' %}">
              <div class="img_login"></div>
            </a>
          </div>
          {% endif %}
        </nav>
      </div>
    </div>
    <!-- Aquí termina el nav -->
    {% block contenido %}

    <!-- El contenido de las plantillas hijas se insertará aquí -->

    {% endblock %}

    <!-- Aquí empieza el footer -->
    <footer>
      <div class="caja-principal">
        <div class="caja">
          <div class="titulo">
            <span class="bloque"></span>
            <h1>Turismo en Japón <span></span></h1>
          </div>

          <div class="sub-titulo">
            <div class="bloque"></div>
            <p>Organiza tu viaje</p>
          </div>
        </div>
      </div>
    </footer>
    <!-- Aquí termina el footer -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src=" https://cdn.jsdelivr.net/npm/sweetalert2@11.12.2/dist/sweetalert2.all.min.js "></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% block js %}{% endblock %}
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-NY856QDN03"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() { dataLayer.push(arguments); }
      gtag('js', new Date());
      gtag('config', 'G-NY856QDN03');
    </script>
</body>

</html>