/* <!-- Aquí empieza el contenido resumidoo --> */
main {
  margin: 2% auto 2% auto;
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
  flex: 1; /* Esto hace que la sección de contenido ocupe todo el espacio restante */
}

/* Aquí empieza el totem */
.TotemCentrado {
  margin: 0 auto 0 auto;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(3, 320px);
  grid-auto-rows: 180px;
  justify-content: center;
  align-content: center;

  animation: TotemCentradoEntrada 1s ease-in-out forwards;
}

.TotemCentrado>div {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
  border: solid 4px #fff;
  /*cosas nuevas*/
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
  justify-content: center;

}

.TotemCentrado>div:hover {
  border: solid 5px #d2c0a5;
}

.TotemCentrado div h2{
  font-style:italic;
  color: #ffffff;
  font-size: 2.2rem;
  text-shadow: 
  3px 3px 3px #000000,
  -2px -2px 2px #c5c5c5;
  opacity: 1;
  transition: opacity 0.3s;
}

.TotemCentrado div:hover h2{
  opacity: 0.5;
  transition-timing-function: ease-out;
}

.Img1 {
  background-image: url("../img/mit_img/hablemosdemanga.webp");
}

.Img2 {
  background-image: url('../img/mit_img/sesolibre.webp');
}

.Img3 {
  background-image: url('../img/mit_img/mundo-nipo.webp');
}

.Img4 {
  background-image: url('../img/mit_img/kimonomundo.webp');
}

.Img5 {
  background-image: url('../img/mit_img/criaturasmitologicas.webp');
}

.Img6 {
  background-image: url('../img/mit_img/infobae.webp');
}

.Img7 {
  background-image: url('../img/mit_img/tripadvisor.webp');
}

.Img8 {
  background-image: url('../img/mit_img/neox.webp');
}

@keyframes TotemCentradoEntrada {
  0% {
    opacity: 0;
    transform: scale(0.5);
    gap: 0%;
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes TotemCentradoSalida {
  0% {

    opacity: 1;
    transform: scale(1);
  }

  100% {

    opacity: 0;
    transform: scale(0.5);
  }
}

/*---------------------------------------------------------------*/

.TotemLateral {
  margin: 1.5em 3% 1.5em 6%;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 160px);
  grid-template-rows: repeat(17, 60px);
  animation: TotemLateralEntrada 1.5s ease-in-out forwards;
}

.TotemLateral>div {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  cursor: pointer;
  border: solid 3px #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  animation: HoverSalida 600ms ease-in-out forwards;

  display: flex;
  align-items: center;
  justify-content: center;

}

.TotemLateral div h2{
  font-style:italic;
  color: #ffffff;
  font-size: 2.2rem;
  text-shadow: 
  3px 3px 3px #000000,
  -2px -2px 2px #c5c5c5;
  opacity: 1;
  transition: opacity 0.3s;

}

.TotemLateral div:hover h2{
  opacity: 0.5;
  transition-timing-function: ease-out;
}

.Img1Lateral {
  grid-area: 1 / 1 / 4 / 3;
  z-index: 1;
}

.Img2Lateral {
  grid-area: 3 / 2 / 6 / 4;
  z-index: 1;
}

.Img3Lateral {
  grid-area: 5 / 1 / 8 / 3;
  z-index: 1;
}

.Img4Lateral {
  grid-area: 7 / 2 / 10 / 4;
  z-index: 1;
}

.Img5Lateral {
  grid-area: 9 / 1 / 12 / 3;
  z-index: 1;
}

.Img6Lateral {
  grid-area: 11 / 2 / 14 / 4;
  z-index: 1;
}

.Img7Lateral {
  grid-area: 13 / 1 / 16 / 3;
  z-index: 1;
}

.Img8Lateral {
  grid-area: 15 / 2 / 18 / 4;
  z-index: 1;
}

.TotemLateral>div:hover {
  z-index: 2;
  animation: HoverEntrada 600ms ease-in-out forwards;
  border: solid 5px #D4C5AE;

}

@keyframes HoverSalida {
  from {
    background-size: 120%;
    transform: scale(1.1, 1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);

  }

  to {
    background-size: 100%;
    transform: scale(1, 1);
  }
}

@keyframes HoverEntrada {
  from {
    background-size: 100%;
    transform: scale(1, 1);
  }

  to {
    background-size: 120%;
    transform: scale(1.1, 1.1);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.38);
  }
}

@keyframes TotemLateralEntrada {
  0% {
    opacity: 0;
    transform: scale(0.2, 0.2);
  }

  100% {
    opacity: 1;
    transform: scale(1, 1);
  }
}

/* Aquí termina el totem */
.Contenido {
  background-color: #524e31;
  align-self: stretch;
  margin: 1.5em;
  position: relative;
  display: none;
  flex-direction: column;
  justify-items: center;
  background-color: #fff;
  border: solid 3px #d4c5ae;
  border-radius: 20px;
  padding: 2em;
  color: #242A20;
  box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
}

.Resumen {
  top: 0;
  position: sticky;
  display: none;
  flex-direction: column;
  align-items: center;
  animation: fadeIn 600ms ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    scale: 0.8;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}

.Visible {
  display: flex;
}


.Resumen h1 {
  letter-spacing: 3px;
  text-decoration: underline;
  font-family: "Bona Nova", serif;
  font-weight: 700;
  font-style: italic;
}

.Resumen p {
  margin: 2em;
  font-size: 1.5em;
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.Resumen ul li {
  margin: 2em;
  font-size: 1.2em;
}

/* <!-- Aquí termina el contenido resumido --> */

/* Comienza icono corazon */
.like-button {

  /*background-color: #dc0202;*/
  width: 100px;
  height: 100px;
  align-self: flex-end;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.like-button .heart-bg {
  background: rgba(255, 192, 200, 0);
  border-radius: 50%;
  height: 60px;
  width: 60px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 200ms ease;
}

.like-button .heart-bg:hover {
  background: rgba(255, 255, 255, 0.7);

}

.like-button .heart-icon {

  height: 100px;
  width: 100px;
  background: url("../img/heart.png");
  background-position: left;
  cursor: pointer;
  position: absolute;

}

.like-button .heart-icon.liked {
  animation: like-anim 0.7s steps(28) forwards;
}

@keyframes like-anim {
  to {
    background-position: right;
  }
}
/* Termina icono corazon */
/* Imagen dentro del Resumen */
.Resumen > [class^="Img"] {
  width: 280px;
  height: 140px;
  margin-top: 8px;
  margin-bottom: 8px;
  border-radius: 20px;
  border: solid 3px #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-size: cover;
  background-position: center;
  display: none;
}
/* Media Query */
@media screen and (max-width: 1280px) {
  .TotemCentrado {
    grid-template-columns: repeat(2, 320px);
    grid-auto-rows: 180px;
  }

  .TotemLateral {
    grid-template-columns: repeat(3, 80px);
    grid-template-rows: repeat(17, 30px);
  }

  .Resumen p {
    margin: 2em;
    font-size: 1.2em;
  }

  .Resumen ul li {
    margin: 2em;
    font-size: 1em;
  }
  .TotemLateral div h2{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 1024px) {
  .TotemCentrado {
    grid-template-columns: repeat(2, 320px);
    grid-auto-rows: 180px;
    gap: 20px;

  }
  .TotemLateral div h2{
    font-size: 1.2rem;
  }

}

@media screen and (min-width: 800px) {
}

@media only screen and (max-width: 600px){
}


@media screen and (max-width: 768px) {
  main {
    flex-direction: column;
    justify-content: center;
  }

  .TotemCentrado {
    grid-template-columns: repeat(3, 160px);
    grid-auto-rows: 90px;
    gap: 6px;
  }

  .Resumen p {
    margin: 2em;
    font-size: 1.4em;
  }

  .Resumen ul li {
    margin: 2em;
    font-size: 1em;
  }
  .TotemCentrado div h2{
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 550px) {
  .TotemCentrado {
    grid-template-columns: repeat(2, 160px);
    grid-auto-rows: 90px;
    gap: 10px;
  }

  .Resumen p {
    margin: 1.5em;
    font-size: 1em;
  }

  .Resumen ul li {
    margin: 1.5em;
    font-size: 0.8em;
  }
}

@media screen and (max-width: 480px) {
  .btn-read{
    position: static;
  }
  
  main {
    margin: 2% 0 2% 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  }

  .TotemCentrado {
    display: none;
  }

  .TotemLateral {
    display: none;
  }

  .Contenido {
    position: relative;
    display: flex;
    gap: 10px;
    background-color: #ffffff00;
    border: solid 0px #d4c5ae00;
    border-radius: 0px;
    padding: 0em;
    color: #242a2000;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  }

  .Resumen {
    position: relative;
    display: flex;
    background-color: #fff;
    border: solid 3px #d4c5ae;
    border-radius: 20px;
    padding: 2em;
    color: #242A20;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
  }

  .Resumen > [class^="Img"] {
    display: block;
  }

  .Resumen p {
    margin: 0.5em;
    font-size: 1em;
  }

  .Resumen ul li {
    margin: 0.5em;
    font-size: 0.8em;
  }
}

@media screen and (min-width: 800px) {
}

@media only screen and (max-width: 710px){
}