

/* <!-- Aquí empieza el formulario --> */

.cont_form {
  background-color: #57664c;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  min-width: 40%;
  background-color: #fff;
  margin: 5% 0 5% 0;
  padding:1em 1em 1em 1em;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  border:3px solid #b4a58f;
}

form .campo {
  width: 100%;
  padding: 15px 10px;
  font-size: 16px;
  border: 2px solid #b4a58f;
  margin-top: 20px;
  border-radius: 3px;
  outline: 0px;
  resize: none;
}

form label{
  font-size: 1.2em;
}


/*Botón Enviar*/
.frame {
  width: 90%;
  margin: 40px auto;
  text-align: center;
}
.button-btn {
  margin: 20px;
  text-decoration: none; 
  color: inherit;
}
.custom-btn {
  width: 130px;
  height: 40px;
  color: #fff;
  font-size: 1.2em;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
   box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
   7px 7px 20px 0px rgba(0,0,0,.1),
   4px 4px 5px 0px rgba(0,0,0,.1);
  outline: none;
}
.btn-read {
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  background: #d4c5ae;
  background: linear-gradient(0deg, #57664c 40%, #d4c5ae 100%);
  font-family: "Lato";
}
.btn-read:hover {
  color: #242a20;
  background: transparent;
  box-shadow:none;
}
.btn-read:before,
.btn-read:after{
  content:'';
  position:absolute;
  top:0;
  right:0;
  height:4px;
  width:0;
  background: #d4c5ae;
  box-shadow:
   -1px -1px 5px 0px #fff,
   7px 7px 20px 0px #0003,
   4px 4px 5px 0px #0002;
  transition:400ms ease all;
}
.btn-read:after{
  right:inherit;
  top:inherit;
  left:0;
  bottom:0;
}
.btn-read:hover:before,
.btn-read:hover:after{
  width:100%;
  transition:800ms ease all;
}

/*--------- Validacion del contnido ingresado en el formulario ---------*/
.container-form .errorBorde{
  border: 1px solid #ff0000;
}
.container-form .error{
  display: none;
  color: #ff0000;
}
.container-form .errorAct{
  display: block;
}


/* <!-- Aquí termina el formulario --> */


/* Media Query */
@media only screen and (max-width: 480px) {

}

@media only screen and (max-width: 600px){
  
}


@media only screen and (max-width: 710px){
 
}

@media screen and (min-width: 800px) {

}

@media only screen and (max-width: 1024px){
  
    /*formulario*/
  
  .formulario {
  width: 100%;
  background-color: #fff;
  padding:1em 1em 1em 1em;
  border-radius: 20px;
  border:2px solid #b4a58f;
  }
  }
